#Monday, #Tuesday, #Wednesday, #Thursday, #Friday {
    width: 18%;
    height: 200px;
    float: left;
    border: 1px solid black;
    padding: 2px;
    font-family: sans-serif;
    font-size: 12px;
}
.Sunny {
    background-color:orange;
}
.Raining {
    background-color: lightgrey;
}
.Cloudy {
    background-color: skyblue;
}
.Thunderstorm {
    background-color: #333;
    color: black;
}
#orderForm {
    width: 75%;
    margin: 20px auto;
}
#receipt {
    background-color: #996600;
    color: yellow;
    padding: 6px;
}