body {
    font-family: Arial,sans-serif;
}
#container {
    padding: 40px;
    width: 1000px;
    height: 80%;
    background-color: #00FF00;
}
#track {
    width: 1000px;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
    margin: 50px auto;
}
#train {
    height: 92px;
    width: 100px;
    position: relative;
    left: 10px;
}
#stopButton {
    padding-top: 15px;
    margin: 10px auto;
    background-color: white;
    width: 100px;
    height: 50px;
    color: red;
    text-align:center;
    font-size: 24px;
    line-height: 30px;
}